/* Deals with all elements on the HTML page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}

 /* This sets the general layout of everything under the <body> tag */
 body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

 /* This sets how the main box on screen looks */
 .container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

 /* This sets how the title text(i.e Registration, Login, etc.) on screen looks */
 .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

/* This sets how the input text boxes and the labels for them work */
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

/* This sets how the input text boxes are spaced and sized */
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

/* This sets how the text labels above the input boxes look */
form .input-box span.details{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* This sets how the placeholder text looks */
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

/* This sets how the input text boxes look when you click into them */
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }

 /* This sets how the asterik required symbol looks */
 .required::after {
  content:" *"; 
  color: #e32;
  position: absolute; 
  margin: 0px 0px 0px -20px; 
  font-size: small; 
  padding: 0 5px 0 0; }

 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }

.switch-button input{
   height: 5%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: black;
 }

.switch-button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* Basics of the submit button */
.submit-button {
  height: 30px;
  margin: 35px 0
}

.submit-button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 
 /* This is what changes the color of the submit button when you hover over it */
.submit-button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

  /* This is what makes the form boxes seperate instead of a scroll down */
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}

/* This deals with the sizing of the input boxes */
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
